header {
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    margin: 10px;
}

header img {
    float: left;
    margin: 20px 10px 0px 10px;
}

body{
    background-image: url('./tornado.jpg');
    background-repeat: no-repeat;
    background-size:100%;
}

div#wrapper {
    margin: 10px;
}

aside {
    display: table-cell;
    vertical-align: top;
}

nav {
    margin: 0px 10px 0px 0px;
    top: 0px;
    border-radius: 10px;
    background-color: #FF6600;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 15px 0px;
}

nav ul li {
    padding: 0px 15px;;
}

nav ul a {
    text-decoration: none;
    color: blue;
}

div#content {
    display: table-cell;
    width: 100%;
    border-radius: 10px;
    background-color: #b4c424;
    padding: 15px;
}

div#content img{
    float: right;
    width: 20em;
    height: auto;
    margin: 0 0 15px 15px;
    padding: 3px;
    border: 3px solid blue;
}

footer {
    border-radius: 10px;
    margin: 10px;
    padding: 5px 20px;
    background-color: #6a2baa;
    color: white;
}